:root {
  --primary-color: #fffdfb;
  --secondary-color: #1b130e;
  --body-color: #f2ebe6;
  --highlight-color: #690909;
  --box-shadow: 0 5px 10px #edf1f3;
  --primary-font: "Playfair Display SC", serif;
  --secondary-font: "Montserrat", sans-serif;
}

body {
  background: var(--body-color);
  font-family: var(--secondary-font);
  color: var(--secondary-font);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--primary-color);
}

header {
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-color);
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 70px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #690909;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.533);
  border-radius: 3%;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  flex: 1;
  object-fit: cover;
}
.embed-responsive {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  aspect-ratio: 21 / 9;
}
.grid {
  display: grid;
}
.grid-3-columns-footer {
  justify-content: center;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 30px;
  padding: 20px 20px 20px 20px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
}
.grid-2-columns-food {
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  justify-content: center;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
}
.img-land h5 {
  text-align: center;
}
.paragraph .img-container {
  margin-bottom: 100px;
  margin-top: 100px;
}
.cards {
  margin: 20px 20px 20px 20px;
}
.card {
  background-color: var(--primary-color);
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card h3 {
  text-align: center;
  font-weight: 500;
}

.text-card {
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
}
.text-card p {
  font-size: 14px;
}
.img-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 10px;
  overflow-x: hidden;
}
.img-container .img {
  width: 30%;
  height: auto;
  margin: 0;
}
.img-card {
  flex: 1;
  object-fit: cover;
  margin: 10px 10px 10px 10px;
}
.maps {
  margin: 10px 15px 10px 15px;
}
.btn {
  display: block;
  color: var(--body-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: var(--highlight-color);
  text-decoration: none;
  transition: 70ms;
}
.btn:hover {
  background-color: #834444;
}
.card-footer {
  padding: 0 150px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.section-food {
  margin-bottom: 40px;
}
.food-container {
  border-bottom: solid 1px #f2ebe6;
  padding: 40px 0px 40px 0px;
}
.img-food {
  flex: 1;
  filter: opacity(88%);
  object-fit: cover;
  height: fit-content;
}
.walk {
  background-color: var(--primary-color);
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}
.walk-map {
  padding: 30px 30px 30px 30px;
}
.walk-map h3 {
  font-weight: 400;
  text-align: left;
  font-size: 16px;
}
.secondary h2 {
  margin-bottom: 20px;
}
i {
  color: var(--highlight-color);
  opacity: 0.9;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
td {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  opacity: 0.7;
  letter-spacing: 0.3px;
}
th,
td {
  border: 1px solid var(--body-color);
  padding: 8px;
  text-align: center;
}

th {
  background-color: var(--body-color);
  font-weight: 500;
}
main h2 {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  margin-bottom: 50px;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  opacity: 0.7;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
}
main h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px;
  color: var(--highlight-color);
  opacity: 0.9;
}
main h5 {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px;
}
span {
  font-weight: 600;
}
.secondary {
  background-color: #f2ebe6;
  margin: 0px 20px 0px 20px;
  padding: 20px 20px 10px 20px;
}
.primary {
  margin-bottom: 0;
}
.box {
  margin-top: 40px;
}
footer {
  background-color: #d1b9a3;
  color: #690909;
}
footer h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.6;
  margin-right: 20px;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  padding: 3px;
}

footer a {
  color: #690909;
  opacity: 0.6;
}
i {
  padding: 5px 5px 5px 5px;
}
footer i:hover {
  color: #834444;
}
@media (max-width: 960px) {
  header {
    padding: 40px 0;
  }

  header h1 {
    font-size: 36px;
  }

  header h2 {
    font-size: 18px;
  }

  header h3 {
    font-size: 14px;
  }

  section {
    padding: 20px;
  }

  .img-card {
    max-width: 100%;
    margin: 10px auto;
  }

  .text-card {
    margin-left: 20px;
  }
  .text-card p {
    font-size: 12px;
  }
  .card-footer {
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .grid-2-columns,
  .grid-3-columns {
    grid-template-columns: 1fr;
  }
  .embed-responsive {
    aspect-ratio: 16 / 9;
  }
  .img-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
footer {
  padding: 20px;
}

footer h3 {
  font-size: 18px;
}

footer p {
  font-size: 14px;
  line-height: 20px;
}

footer ul {
  margin-top: 10px;
}

footer li {
  padding: 3px 0;
}
